html
    head
        title Person
    body
        form(action="/", method="POST")
            div
                label username:
                input(name="username")
            br
            div
                label password:
                input(name="password")
            br
            button(type="submit") login
