html 
  head 
  body 
    if(message)
      p #{message}
      p 
        a(href="/flash") Flash 
      p 
        a(href="/no-flash") No Flash
      p 
        a(href="/multiple-flash") Multiple 